body{
    background-color: rgba(88, 82, 194, 0.583);
    
}
.cabecalho{
    background-color: black;
    width: 100%;
    margin: 0;
    color: white;
    ;
}

.item{
    color: white;
}

.botao{
    margin: 5px;
    background-color: white;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;    
}

#login{
    text-align: right;
}

.inputForm{
    height: 20px;
}

#nome{
    width: 400px
}

.dadoCliente{
    display: inline;
    margin-bottom: 500px;
}